@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;

   /* Primary */
  --color-primary-50: #FFF4ED;
  --color-primary-500: #FF6600;

  /* Neutral */
  --color-neutral-50: #F9FAF4;
  --color-neutral-100: #E7EAEB;
  --color-neutral-200: #C2CBDD;
  --color-neutral-300: #9AA6BA;
  --color-neutral-400: #7E90A3;
  --color-neutral-500: #667A93;
  --color-neutral-600: #5D6E7F;
  --color-neutral-700: #4D5869;
  --color-neutral-800: #2A323D;
  --color-neutral-900: #0E1115;
  --color-neutral-950: #0C1115;

  --font-body: 'Inter Tight', Arial, sans-serif;
  --font-heading: 'Sansation', Arial, sans-serif;

  --font-size-body-sm: 14px;
  --font-size-body-md: 16px;
  --font-size-body-lg: 18px;
  --font-size-body-xl: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

@theme inline {
  --primary-500: var(--color-primary-500);
  --primary-50: var(--color-primary-50);
  --neutral-50: var(--color-neutral-50);
  --neutral-100: var(--color-neutral-100);
  --neutral-200: var(--color-neutral-200);
  --neutral-300: var(--color-neutral-300);
  --neutral-400: var(--color-neutral-400);
  --neutral-500: var(--color-neutral-500);
  --neutral-600: var(--color-neutral-600);
  --neutral-700: var(--color-neutral-700);
  --neutral-800: var(--color-neutral-800);
  --neutral-900: var(--color-neutral-900);
  --neutral-950: var(--color-neutral-950);

  --background: var(--color-neutral-950);
  --foreground: var(--foreground);
  --border: var(--color-neutral-800);

  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);

 
  --body-sm: var(--font-size-body-sm),
  --body-md: var(--font-size-body-md),
  --body-lg: var(--font-size-body-lg),
  --body-xl: var(--font-size-body-xl),


  --regular: var(--font-weight-regular),
  --medium: var(--font-weight-medium),
  --semibold: var(--font-weight-semibold),
  
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

